.card {
  min-height: 100vh;

}

.blue-bg {
  background: blue;
}

.red-bg {
  background: firebrick;
}

.social {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.social>img{
  border: 2px solid white;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 7px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  direction: column;
  
}

.social>img:hover {
  background: white;
}

nav {
  position: fixed;
  top: 60px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#companyName{
  margin-left: 20px;
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

.inner {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#subscribeButton{
  background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f302f;
  margin-right: 20px;
  transition: .3s;
}
#subscribeButton:hover{
  color: blue;
  background-color: white;
}
.sideLink{
  color: white;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 25px;
  margin-bottom: 35px;
  font-size: 15px;
}
.sideLink:hover{
  color: darkred;
}
.main{
  /* background: deepskyblue; */
  height: 500px;
  padding: 10vw;
  padding-top: 50px;
}
.container{
  padding-top: 20%;
  width: auto;
}
h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: white;
  font-size: 56px;
  letter-spacing: 2.5px;
  margin-bottom: 35px;
}
.description{
  text-align: center;
  line-height: 1.5;
  color: white;
  font-size: 16px;
  margin-bottom: 35px;
}
.exploreButton{
  text-align: center;
  width: 250px;
  color: white;
  background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 16px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f302f;
  margin: auto;
  transition: .3s;
}
.exploreButton:hover{
  color: blue;
  background-color: white;
}